body {
	background-color: #5387db;
}

label{
	font-size:60px;
	font-family: sans-serif;
}

#labelt1{
	color : white;
	margin-right: 1000px;
	font-size: 80px;
}

#num.btn{
	width:200px;
	height:200px;	
	font-size:60px;
}

#validate.btn{
	width:600px;
	height:200px;
	font-size:60px;
}

#rem.btn{
	width:200px;
	height:200px;
	font-size:60px;
}

#numero.btn{
	width:800px;
	height:200px;
	font-size:60px;
}

#select{
	height:200px;
	font-size:60px;
}