body {
	background-color: #5387db;
}

label{
	font-size:20px;
}

#num.btn{
	width:100px;
	height:100px;	
	font-size:60px;
}

#validate.btn{
	width:300px;
	height:100px;
	font-size:30px;
}

#rem.btn{
	width:100px;
	height:100px;
	font-size:60px;
}

#numero.btn{
	width:400px;
	height:100px;
	font-size:60px;
}